<div class="cont-actions-edit-doc">
    <button (click)="back()" class="btn-new-doc">Atras</button>
    <button class="btn-new-doc" (click)="ModalDoc()">Crear Nuevo Documento</button>
    <button class="btn-new-doc" (click)="mut()">Crear Nodo</button>
</div>

<mat-tab-group class="mat-tab-sunarp" [(selectedIndex)]="indexTab">
    <mat-tab label="Documentos Generales y Específicos ">
      <app-document-one [newData]="dataDoc1" (onEdit)="ModalDoc($event)" [editData]="dataEditDoc1"></app-document-one>
    </mat-tab>
    <mat-tab label=" Documentos Internos">
      <app-document-two [newData]="dataDoc2" (onEdit)="ModalDoc($event)" [editData]="dataEditDoc2"></app-document-two>
    </mat-tab>
    <mat-tab label="Documentos Externos">
      <app-document-three [newData]="dataDoc3" (onEdit)="ModalDoc($event)" [editData]="dataEditDoc3"></app-document-three>
    </mat-tab>
    <mat-tab label="Actas">
      <app-actas [newData]="dataActa" (onEdit)="ModalDoc($event)" [editData]="dataEditActa"></app-actas>
    </mat-tab>
</mat-tab-group>