@import '_variables';
:host {
    width: 100%;
}

::ng-deep .link-download {
    color          : #95a4c5;
    text-decoration: underline;
}

.cont-actions-edit-doc{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    gap: 20px;
}

.col-2-edit-doc{
    display: flex;
    flex-wrap: wrap;
    gap: 22px;
}

.content-btn{
    display: flex;
    flex-wrap: wrap;
    gap: 6px;
    align-items: center;
    line-height: 20px;
}


.btn-new-doc{
    background-color: $warn;
    color: $white;
    border: none;
    padding: 8px 17px;
    border-radius: 10px;
    cursor: pointer;
    font-size: 12px;
    font-family: "NunitoSans-Regular";
}


::ng-deep .mdl-doc{
    .mat-dialog-container{
        padding: 0;
        box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
        border-radius: 20px;
    }
}

::ng-deep .mdl-e-doc{
    .mat-dialog-container{
        padding: 32px 36px 23px 36px;
        box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
        border-radius: 20px;
    }
}

::ng-deep .tbedit-doc {
    margin-top: 0;
    .mat-table thead,
    [mat-header-row] {
        background-color: $blue;
    }

    th {
        color:  $white;
        font-size: 14px;
        text-align: center !important;
    }

    th.mat-header-cell:first-of-type, th.mat-header-cell:last-of-type{
        padding: 0;
    }

    td.mat-cell:first-of-type, td.mat-cell:last-of-type{
        padding: 0;
    }

    td.mat-cell {
        text-align: center;
    }
}