<div class="cont-actions-edit-doc">
    <button (click)="back()" class="btn-back-doc">Atras</button>
    <div class="col-2-edit-doc">
      <button class="btn-new-doc" (click)="ModalDoc()">
        <div class="content-btn">
          <img src="assets/images/new-doc.png" alt="icono nuevo documento">
           Crear Nuevo Documento
        </div>
      </button>
      <button class="btn-upload-doc" (click)="mut()">
        <div class="content-btn">
          <img src="assets/images/upload-doc.png" alt="">
          Crear Nodo
        </div>
        </button>
        </div>
    </div>


<mat-tab-group class="mat-tab-sunarp-edit" [(selectedIndex)]="indexTab">
    <mat-tab label="Documentos Generales y Específicos ">
      <app-document-one [newData]="dataDoc1" (onEdit)="ModalDoc($event)" [editData]="dataEditDoc1"></app-document-one>
    </mat-tab>
    <mat-tab label=" Documentos Internos">
      <app-document-two [newData]="dataDoc2" (onEdit)="ModalDoc($event)" [editData]="dataEditDoc2"></app-document-two>
    </mat-tab>
    <mat-tab label="Documentos Externos">
      <app-document-three [newData]="dataDoc3" (onEdit)="ModalDoc($event)" [editData]="dataEditDoc3"></app-document-three>
    </mat-tab>
    <mat-tab label="Actas">
      <app-actas [newData]="dataActa" (onEdit)="ModalDoc($event)" [editData]="dataEditActa"></app-actas>
    </mat-tab>
</mat-tab-group>