.celda {
    padding-left: 1rem;
}

.celda-color {
    width: 120px;
    text-transform: uppercase;
    text-align: center;
    color: #fff;
    height: 40px;
    display: inline-block;
    display: flex;
    justify-content: center;
    align-items: center;
    text-shadow: 0 0 2px #000;
}

.td-check{
    input{
        width: 18px;
        height: 18px;
    }
}