:host {
    width: 100%;
}

.container-tree-document {
    display        : flex;
    justify-content: center;

    .mat-tree{
        display: grid;
    }

    .container-tree {
        width        : 100%;
        max-width: 967px;
        margin: 50px 0 100px 0;
    }

    .mat-tree-node{
        background: #F4F4F4;
        font-size: 18px;
        color: #000000;
        &:hover{
            background: #E3E3E3;
            border-radius: 10px;
        }
    }

    .mat-nested-tree-node{
        border-radius: 10px;
        overflow: hidden;
    }
}

.tree-hidden-children{
    background: #F4F4F4;
    border-radius: 10px;
}

.cont-sidenav {
    display: flex;
    flex-wrap: wrap;
    gap: 11px;
    align-items: center;

    div {
        font-weight: 700;
        font-size  : 22px;
        line-height: 20px;
        color      : #52B8C3;
    }

    img{
        width: 29px;
        height: 20px;
    }
}

.tree-document-invisible {
    display: none;
}

.tree-document-invisible {
    display: none;
}

.tree-document ul,
.tree-document li {
    margin-top     : 0;
    margin-bottom  : 0;
    list-style-type: none;
}

/*
   * This padding sets alignment of the nested nodes.
   */
.tree-document .mat-nested-tree-node div[role=group] {
    padding-left: 40px;
    background: #F4F4F4;
}

/*
   * Padding for leaf nodes.
   * Leaf nodes need to have padding so as to align with other non-leaf nodes
   * under the same parent.
   */
.tree-document div[role=group]>.mat-tree-node {
    padding-left: 40px;
}

.tree-document ul,
.tree-document li {
    margin-top     : 0;
    margin-bottom  : 0;
    list-style-type: none;
}

/*
   * This padding sets alignment of the nested nodes.
   */
.tree-document .mat-nested-tree-node div[role=group] {
    padding: 0 40px;
}

/*
   * Padding for leaf nodes.
   * Leaf nodes need to have padding so as to align with other non-leaf nodes
   * under the same parent.
   */
.tree-document div[role=group]>.mat-tree-node {
    padding: 0 40px;
}

.mat-tree-node:hover {
    background-color: rgba(0, 0, 0, 0.04);
}

.op-tree-node {
    display    : flex;
    align-items: center;
    gap        : 10px;
    cursor     : pointer;

    img {
        width : 20px;
        height: 20px;
    }
}

.dlp-none {
    display: none;
}

.header-mat-tree {
    display        : flex;
    flex-wrap      : wrap;
    justify-content: space-between;
    margin-bottom  : 10px;
}