<div class="container-tree-document">
    <div class="container-tree">
        <div class="header-mat-tree">
            <div class="cont-sidenav">
                <img src="assets/images/ic-folder.png" alt="icono folder">
                <div>INFORMACIÓN DOCUMENTARIA</div>
            </div>

            <button class="btn-warm" (click)="mut()">
                <div class="div-btn">
                  <img src="assets/images/upload-doc.png" alt="">
                  Crear Nodo
                </div>
            </button>
        </div>
        <mat-tree [dataSource]="dataSource" [treeControl]="treeControl" class="tree-document">

            <mat-tree-node *matTreeNodeDef="let node" matTreeNodeToggle
                [ngClass]="{'active-tree': idTreeNode === node.id}" class="tree-hidden-children">
                <button mat-icon-button matTreeNodeToggle>
                    <img [src]="'assets/images/row-right.png'" alt="">
                </button>
                
                <div (click)="goToDocument(node)" class="op-tree-node">
                    {{node.name}}
                </div>

            </mat-tree-node>

            <mat-nested-tree-node *matTreeNodeDef="let node; when: hasChild" matTreeNodeToggle style="cursor: pointer;margin-top: 14px;"
                [ngClass]="{'dlp-none': node?.autorizathion && !userLog}">
                <div class="mat-tree-node">
                    <button mat-icon-button matTreeNodeToggle [attr.aria-label]="'Toggle ' + node.name">
                        <img [src]="treeControl.isExpanded(node) ? 'assets/images/row-down.png' : 'assets/images/row-right.png'" alt="">
                        <!-- <mat-icon class="mat-icon-rtl-mirror">
                            {{treeControl.isExpanded(node) ? 'expand_more' : 'chevron_right'}}
                        </mat-icon> -->
                    </button>
                    {{node.name}}
                </div>
                <div [class.tree-document-invisible]="!treeControl.isExpanded(node)" role="group">
                    <ng-container matTreeNodeOutlet></ng-container>
                </div>
            </mat-nested-tree-node>
        </mat-tree>
    </div>
</div>