<div class="container-title">Tipos</div>
<form [formGroup]="formType" class="form-standart f-type">
    <mat-form-field appearance="outline">
        <mat-label>Código</mat-label>
        <input matInput placeholder="Placeholder" formControlName="code">
    </mat-form-field>

    <mat-form-field appearance="outline">
        <mat-label>Descripción</mat-label>
        <input matInput placeholder="Placeholder" formControlName="name">
    </mat-form-field>

    <div class="container-btn-save">
        <button (click)="save()" type="button" [disabled]="!formType.valid" class="btn-warm">Guardar</button>
        <button type="button" mat-dialog-close class="btn-blue-dark">Cerrar</button>
    </div>
</form>
