<div class="toolbar">
    <div class="color-toolbar">
        <div class="title-toolbar" (click)="goInicio()">SISTEMA INTEGRADO DE GESTIÓN</div>
        <div class="cont-log" *ngIf="!userLog">
            <button (click)="openLogin()">Login</button>
        </div>
        <div class="cont-init-session" *ngIf="userLog">
            <div class="cont-user-log" (click)="showSubmenuLog = true">
                <div class="cont-info">
                    <div>Usuario:</div>
                    <div>{{userLog.user}}</div>
                </div>
                <div class="cont-info">
                    <div>Rol:</div>
                    <div>{{userLog.rol}}</div>
                </div>
                <!-- <div class="sub-options-log" *ngIf="showSubmenuLog" (click)="logout()">
                    <div>Cerrar Sesión</div>
                </div> -->
            </div>
            <div (click)="logout()">
                <mat-icon matTooltip="Cerrar Sesión"
                aria-label="Boton para Cerrar Sesión">logout</mat-icon>
            </div>
        </div>


    </div>

</div>
<mat-drawer-container class="matdrawner-container-ly" autosize>
    <mat-drawer #drawer class="matdrawner-sidenav" mode="side" [opened]="openedDrawner">
        <!-- <p>Auto-resizing sidenav</p>
        <p *ngIf="showFiller">Lorem, ipsum dolor sit amet consectetur.</p>
        <button (click)="showFiller = !showFiller" mat-raised-button>
            Toggle extra text
        </button> -->

        <!-- <a mat-list-item routerLink="/generalDocuments" [queryParams]="{ section: 'menu' }">
            Documentos Generales
        </a> -->
        <div class="container-nav-routes" *ngIf="datanav.length">
            <div *ngFor="let nav of datanav">
                <div class="title-option-nav">{{nav.title}}</div>
                <div class="routes-options">
                    <div *ngFor="let route of nav.routes" class="op-route">
                        <div class="circle"></div>
                        <div class="text-route" [routerLink]="route.url" routerLinkActive="active-router">{{route.name}}
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div *ngIf="!datanav.length">
            <div class="title-sidenav">INFORMACIÓN DOCUMENTARIA</div>
            <mat-tree [dataSource]="dataSource" [treeControl]="treeControl" class="example-tree">

                <mat-tree-node *matTreeNodeDef="let node" matTreeNodeToggle [ngClass]="{'active-tree': idTreeNode === node.id}">
                    <!-- <div *ngIf="!node.url && !node.autorization">{{node.name}}</div> -->
                    <div  (click)="goToDocument(node)" class="op-tree-node">
                        <div><img src="assets/images/ic-pdf-img.png" alt="icon-pdf"></div>
                        {{node.name}}
                    </div>
                    <!-- <a *ngIf="node.url" href="{{node.url}}" target="_blank">{{node.name}}</a> -->
                </mat-tree-node>

                <mat-nested-tree-node *matTreeNodeDef="let node; when: hasChild" matTreeNodeToggle style="cursor: pointer;">
                    <div class="mat-tree-node">
                        <button mat-icon-button matTreeNodeToggle [attr.aria-label]="'Toggle ' + node.name">
                            <mat-icon class="mat-icon-rtl-mirror">
                                {{treeControl.isExpanded(node) ? 'expand_more' : 'chevron_right'}}
                            </mat-icon>
                        </button>
                        {{node.name}}
                    </div>
                    <div [class.example-tree-invisible]="!treeControl.isExpanded(node)" role="group">
                        <ng-container matTreeNodeOutlet></ng-container>
                    </div>
                </mat-nested-tree-node>
            </mat-tree>
        </div>
    </mat-drawer>

    <div class="matdrawner-sidenav-content">
        <router-outlet></router-outlet>
        <!-- <button type="button" mat-button (click)="drawer.toggle()">
            Toggle sidenav
        </button> -->
    </div>



</mat-drawer-container>