:host{
    width: 100%;
}

.title-form{
    font-size: 20px;
    text-align: center;
    font-weight: 500;
    margin: 20px 0;
}

.container-indicators{
    display: flex;
    gap: 10px;
}

.f-indicator{
    justify-content: center;
}