<form [formGroup]="formInternalDocument" class="form-standart frm-modal-document">
    <mat-form-field appearance="outline">
        <mat-label>Nombre de Documento</mat-label>
        <input matInput placeholder="Nombre de Documento" formControlName="documentName">
    </mat-form-field>

    <mat-form-field appearance="outline">
        <mat-label>N° de Resolución u otro</mat-label>
        <input matInput placeholder="Codigo" formControlName="numberResolution">
    </mat-form-field>

    <mat-form-field appearance="outline">
        <mat-label>Fecha </mat-label>
        <input matInput [matDatepicker]="pickerDate" formControlName="date" readonly>
        <mat-datepicker-toggle matSuffix [for]="pickerDate"></mat-datepicker-toggle>
        <mat-datepicker #pickerDate></mat-datepicker>
    </mat-form-field>

    <div class="cont-download" (click)="inptDownload.click()">
        <div class="content">
            <img src="assets/images/upload-file.png" alt="icono subir archivo">
            <div>Subir Archivo</div>
        </div>
    </div>

    <input type="file" #inptDownload style="display: none" (change)="uploadFile($event)">

</form>

<div class="container-btn-save btn-mdl-doc" mat-dialog-actions>
    <button (click)="save()" type="button" [disabled]="!formInternalDocument.valid">Guardar</button>
    <button type="button" mat-dialog-close class="btn-blue-dark">Cerrar</button>
</div>
