

<div class="container-responsible-table">
    <table mat-table [dataSource]="dataSource" class="table-standart">
        <ng-container matColumnDef="nro">
            <th mat-header-cell *matHeaderCellDef> Nro </th>
            <td mat-cell *matCellDef="let element"> {{element.nro}} </td>
        </ng-container>
    
        <ng-container matColumnDef="activities">
            <th mat-header-cell *matHeaderCellDef> Actividades </th>
            <td mat-cell *matCellDef="let element"> {{element.activities}} </td>
        </ng-container>
    
    
        <ng-container matColumnDef="area">
            <th mat-header-cell *matHeaderCellDef> Area </th>
            <td mat-cell *matCellDef="let element"> {{element.area}} </td>
        </ng-container>
    
    
        <ng-container matColumnDef="datestart">
            <th mat-header-cell *matHeaderCellDef> Fecha de Inicio </th>
            <td mat-cell *matCellDef="let element"> {{element.datestart}} </td>
        </ng-container>
    
        <ng-container matColumnDef="dateend">
            <th mat-header-cell *matHeaderCellDef> Fecha Final </th>
            <td mat-cell *matCellDef="let element"> {{element.dateend}} </td>
        </ng-container>
    
    
        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
    </table>
</div>

<div class="container-picker">
    <div class="contpicker-presentacion">
        <mat-form-field appearance="outline">
            <mat-label>Fecha de Presentación</mat-label>
            <input matInput [matDatepicker]="pickerEmision">
            <mat-datepicker-toggle matSuffix [for]="pickerEmision"></mat-datepicker-toggle>
            <mat-datepicker #pickerEmision></mat-datepicker>
        </mat-form-field>
    </div>
</div>

<div class="container-btn-save">
    <button (click)="next()" type="button" class="btn-warm">Siguiente</button>
</div>