.cont-buscar {
    margin-top   : 25px;
    display      : flex;
    flex-wrap    : wrap;
    align-items  : center;
    border       : 1px solid #44acab;
    margin-bottom: 20px;
    width        : 100%;
    max-width    : 400px;
    position     : relative;
    padding      : 10px;
    gap          : 25px;

    .lable-cont {
        position        : absolute;
        top             : -10px;
        left            : 5px;
        padding         : 0 15px 0 5px;
        background-color: #fafafa;
        font-weight     : 500;
    }

    .mat-form-field-wrapper {
        padding-bottom: 0;
    }

    button {
        padding         : 5px 20px;
        background-color: #ffffff;
        border          : 1px solid #44acab;
        cursor          : pointer;
    }
}