<div class="container-title">Gestión de Oficiales</div>
<div *ngIf="!showForm">
    <!-- <div class="container-btn-right">
        <button (click)="showForm = true;formOfficer.reset();">Agregar</button>
    </div> -->

    <div class="container-responsible-table" [formGroup]="formOfficer" #tbofficer>
        <table mat-table [dataSource]="dataSource" class="table-standart">
            <ng-container matColumnDef="code">
                <th mat-header-cell *matHeaderCellDef> Código </th>
                <td mat-cell *matCellDef="let element;"> 
                    <div>{{element.code}}</div> 
                </td>
            </ng-container>
    
            <ng-container matColumnDef="name">
                <th mat-header-cell *matHeaderCellDef> Nombre </th>
                <td mat-cell *matCellDef="let element;let i = index"> 
                    <div *ngIf="indexSelectedRow !== i">{{element.name}} </div>
                    <input class="inpt-row" *ngIf="editActive && indexSelectedRow === i" type="text" formControlName="name">
                </td>
            </ng-container>
    
            <ng-container matColumnDef="state">
                <th mat-header-cell *matHeaderCellDef> Estado </th>
                <td mat-cell *matCellDef="let element;let i = index">
                    <mat-checkbox *ngIf="indexSelectedRow !== i" [checked]="element.state" [color]="'primary'" disabled="disabled"></mat-checkbox>
                    <mat-checkbox *ngIf="editActive && indexSelectedRow === i" [checked]="element.state" [color]="'primary'" formControlName="state"></mat-checkbox>
                </td>
            </ng-container>

            <ng-container matColumnDef="noResults">
                <td mat-footer-row *matFooterCellDef [colSpan]="displayedColumns.length">
                    No se encontraron resultados.
                </td>
            </ng-container>
    
            <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
            <tr mat-row *matRowDef="let row; columns: displayedColumns;let i = index" (dblclick)="selectedRow(row,i)" [ngClass]="{'active-row-table': indexSelectedRow == i}"></tr>
            <tr mat-footer-row [hidden]="dataSource.data.length > 0 || emptyResult" *matFooterRowDef="['noResults']"></tr>
        </table>
    </div>
    <div class="container-btn-save">
        <button (click)="add()">Añadir</button>
        <button (click)="edit()" [disabled]="!editActive">Modificar</button>
        <button>Grabar</button>
    </div>
</div>

<form [formGroup]="formOfficer" *ngIf="showForm" class="form-standart">
    <mat-form-field appearance="outline">
        <mat-label>Código</mat-label>
        <input matInput placeholder="Placeholder" formControlName="code">
    </mat-form-field>

    <mat-form-field appearance="outline">
        <mat-label>Nombre</mat-label>
        <input matInput placeholder="Placeholder" formControlName="name">
    </mat-form-field>

    <div class="cont-slide-tooggle">
        <mat-slide-toggle [color]="'primary'" formControlName="state">
            Estado
        </mat-slide-toggle>
    </div>

    <div class="container-btn-save">
        <button (click)="save()" type="button" [disabled]="!formOfficer.valid">Guardar</button>
        <button (click)="showForm = false" type="button">Atras</button>
    </div>
</form>