<form [formGroup]="formUpShare" class="form-register">

    <div class="inp-label">
        <div class="label">Nro:</div>
        <mat-form-field appearance="outline" style="width: 100px">
            <input matInput formControlName="correlative" type="number">
        </mat-form-field>

        <app-datepicker-year (onGetValue)="getYear($event)" [width]="'100'"></app-datepicker-year>
    </div>

    <mat-form-field appearance="outline">
        <mat-label>Tipo</mat-label>
        <input matInput placeholder="type" formControlName="type">
    </mat-form-field>

    <mat-form-field appearance="outline">
        <mat-label>Estado</mat-label>
        <input matInput placeholder="Estado" formControlName="state">
    </mat-form-field>


    <mat-form-field appearance="outline" style="max-width: 100%">
        <mat-label>Seguimiento del caso</mat-label>
        <textarea matInput placeholder="Seguimiento del caso" formControlName="followUp" rows="5"></textarea>
    </mat-form-field>

    <mat-form-field appearance="outline">
        <mat-label>Fecha de Verificación</mat-label>
        <input matInput [matDatepicker]="pickerverification" formControlName="verificationDate">
        <mat-datepicker-toggle matSuffix [for]="pickerverification"></mat-datepicker-toggle>
        <mat-datepicker #pickerverification></mat-datepicker>
    </mat-form-field>

    <div class="cont-check">
        <mat-checkbox [color]="'primary'" formControlName="implemented" [labelPosition]="'before'">Implementado</mat-checkbox>
    </div>

    <mat-form-field appearance="outline">
        <mat-label>Fecha de Medición de la Eficacia</mat-label>
        <input matInput [matDatepicker]="pickerEfficacy" formControlName="dateEfficacy">
        <mat-datepicker-toggle matSuffix [for]="pickerEfficacy"></mat-datepicker-toggle>
        <mat-datepicker #pickerEfficacy></mat-datepicker>
    </mat-form-field>

    <div class="container-btn-save">
        <button (click)="next()" type="button" [disabled]="!formUpShare.valid" class="btn-warm">Siguiente</button>
    </div>
</form>