<form [formGroup]="formGeneralDocument" class="form-standart frm-modal-document">
    <mat-form-field appearance="outline">
        <mat-label>Nombre de Documento</mat-label>
        <input matInput placeholder="Nombre de Documento" formControlName="documentName">
    </mat-form-field>

    <div class="colum-code-ver">
        <mat-form-field appearance="outline">
            <mat-label>Código</mat-label>
            <input matInput placeholder="Codigo" formControlName="code">
        </mat-form-field>
    
        <mat-form-field appearance="outline">
            <mat-label>Versión</mat-label>
            <input matInput placeholder="Versión" formControlName="version">
        </mat-form-field>
    </div>

    <mat-form-field appearance="outline">
        <mat-label>Resolución con que se aprueba</mat-label>
        <input matInput placeholder="Resolución con que se aprueba" formControlName="resolution">
    </mat-form-field>

    <mat-form-field appearance="outline">
        <mat-label>Fecha de aprobación</mat-label>
        <input matInput [matDatepicker]="pickerDateApproval" formControlName="dateApproval" readonly>
        <mat-datepicker-toggle matSuffix [for]="pickerDateApproval"></mat-datepicker-toggle>
        <mat-datepicker #pickerDateApproval></mat-datepicker>
    </mat-form-field>

    <mat-form-field appearance="outline">
        <mat-label>Sistemas Aplicables</mat-label>
        <input matInput placeholder="Sistemas Aplicables" formControlName="applicableSystems">
    </mat-form-field>

    <div class="cont-download" (click)="inptDownload.click()">
        <div class="content">
            <mat-icon>backup</mat-icon>
            <div>Subir Archivo</div>
        </div>
    </div>

    <input type="file" #inptDownload style="display: none" (change)="uploadFile($event)">

</form>

<div class="container-btn-save">
    <button (click)="save()" type="button" [disabled]="!formGeneralDocument.valid">Guardar</button>
    <button type="button" mat-dialog-close>Cerrar</button>
</div>
