<div class="container-title">Gestión de Estados</div>
<div *ngIf="!showForm">
    <div class="container-btn-right">
        <button (click)="showForm = true;formState.reset();">Agregar</button>
    </div>

    <div class="container-responsible-table" [formGroup]="formState" #tbstate>
        <table mat-table [dataSource]="dataSource" class="table-state" >
            <ng-container matColumnDef="code">
                <th mat-header-cell *matHeaderCellDef> Código </th>
                <td mat-cell *matCellDef="let element;let i = index">
                    <div *ngIf="indexSelectedRow !== i">{{element.code}} </div> 
                    <div class="inpt-row" *ngIf="editActive && indexSelectedRow === i">
                        <input type="text" formControlName="code">
                    </div>
                </td>
            </ng-container>

            <ng-container matColumnDef="name">
                <th mat-header-cell *matHeaderCellDef> Nombre </th>
                <td mat-cell *matCellDef="let element;let i = index"> 
                    <div *ngIf="indexSelectedRow !== i"> {{element.name}} </div> 
                    <div class="inpt-row" *ngIf="editActive && indexSelectedRow === i">
                        <input type="text" formControlName="name">
                    </div>
                </td>
            </ng-container>

            <ng-container matColumnDef="noResults">
                <td mat-footer-row *matFooterCellDef [colSpan]="displayedColumns.length">
                    No se encontraron resultados.
                </td>
            </ng-container>

            <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
            <tr mat-row *matRowDef="let row; columns: displayedColumns;let i = index"
                [ngClass]="{'active-row-table': indexSelectedRow == i}" (dblclick)="selectedRow(row,i)"></tr>
            <tr mat-footer-row [hidden]="dataSource.data.length > 0 || emptyResult" *matFooterRowDef="['noResults']"></tr>
        </table>
    </div>

    <div class="container-btn-save">
        <button>Añadir</button>
        <button (click)="edit()" [disabled]="!editActive">Modificar</button>
        <button>Grabar</button>
    </div>

</div>

<form [formGroup]="formState" *ngIf="showForm" class="form-standart">
    <mat-form-field appearance="outline">
        <mat-label>Código</mat-label>
        <input matInput placeholder="Placeholder" formControlName="code">
    </mat-form-field>

    <mat-form-field appearance="outline">
        <mat-label>Nombre</mat-label>
        <input matInput placeholder="Placeholder" formControlName="name">
    </mat-form-field>

    <div class="container-btn-save">
        <button (click)="save()" type="button" [disabled]="!formState.valid">Guardar</button>
        <button (click)="showForm = false" type="button">Atras</button>
    </div>
</form>