<div class="options-gestion" *ngIf="!secondMenu">
    <div class="col1-gestion">
        <div class="opt-gestion" (click)="selectOption(1)">
            <div class="layer1">
                <div class="layer2">
                    <div class="text-option">Información Documentada</div>
                </div>
            </div>
            
        </div>
        <div class="opt-gestion" (click)="secondMenu = true">
            <div class="layer1">
                <div class="layer2">
                    <div class="text-option">
                        <div>SGC</div>
                        <div>ISO 9001</div>
                    </div>
                </div>
            </div>
        </div>
        <div class="opt-gestion">
            <div class="layer1">
                <div class="layer2">
                    <div class="text-option">
                        <div>SGCI</div>
                        <div>ISO 37001</div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="col2-gestion">
        <div class="opt-gestion">
            <div class="layer1">
                <div class="layer2">
                    <div class="text-option">
                        <div>SGCI</div>
                        <div>ISO 27001</div>
                    </div>
                </div>
            </div>
        </div>
        <div class="opt-gestion">
            <div class="layer1">
                <div class="layer2">
                    <div class="text-option">
                        <div>SGCI</div>
                        <div>ISO 22301</div>
                    </div>  
                </div>
            </div>
        </div>
        <div class="opt-gestion">
            <div class="layer1">
                <div class="layer2">
                    <div class="text-option">GESTIÓN DE USUARIOS</div>
                </div>
            </div>
        </div>
    </div>
</div>


<div *ngIf="secondMenu" class="second-menu">
    <div class="title-second-menu">SISTEMA DE GESTIÓN DE CALIDAD ISO 9001</div>
    <div class="col1">
      <div class="layer1" (click)="selectOption('1001')">
        <div class="layer2">
            <div class="layer3">
                <div>Seguimiento de SAC y SOM</div>
            </div> 
        </div>
      </div>
      <div class="layer1">
        <div class="layer2">
            <div class="layer3">
                <div>Indicadores de Calidad</div>
            </div>
        </div>
      </div>
    </div>
    <div class="col2">
        <div class="layer1">
            <div class="layer2">
                <div class="layer3">
                    <div>Gestión de Riesgos</div>
                </div>
            </div>
        </div>
    </div>
</div>