@import '_variables';
:host {
    width: 100%;
}

.tbdoc-detail {
    width: 1100px;

    .th-doc {
        font-size  : 25px;
        color      : $black;
        font-weight: 500;
    }

    td.mat-cell:last-of-type{
        padding: 10px;
    }
}

.tb-doc-cont{
    min-height: 866px;
    background-color: $white;
}

.cont-doc-row {
    display: flex;
    gap    : 46px;
    margin : 20px 0;

    .cont-icon-pdf {
        img {
            width : 28px;
            height: 34px;
        }
    }

    .title-row-doc {
        display: flex;
        gap    : 5px;
        text-transform: uppercase;
    }

    .body-row-doc {
        display  : flex;
        flex-wrap: wrap;
        gap      : 5px;

        .detail-doc {
            display: flex;

            div {
                margin-left: 5px;
            }
        }
    }
}


.btn-edit-doc{
  width: 104px;
  height: 36px;
  border-radius: 10px;
  border: none;
  cursor: pointer;
  color: $white;
  background-color: $warn;
}

.cont-actions-detail-doc{
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: space-between;
}

.showSpinner{
    display: none;
}

.showbtnDownload{
    display: none;
}

::ng-deep .td-action-doc-detail{
    mat-spinner{
        width: 40px !important;
        height: 40px !important;
    }
    .mat-progress-spinner svg{
        width: 40px !important;
        height: 40px !important;
    }
    .mat-progress-spinner circle, .mat-spinner circle {
        stroke: $warn;
    }
}

@media (min-width: 1100px) {
    .tbdoc-detail {
        width: 100%;
    }
}