<div class="container-title">Formulación y revisión</div>

<mat-tab-group class="mat-tab-sunarp">
    <mat-tab label="REPORTES">
        <div style="display: flex;">
            <div class="frm-inputs-reports">
                <div>
                    <div>Escoja el mes</div>
                    <app-datepicker-month (onGetValue)="getMonth($event)" [width]="'200px'"></app-datepicker-month>
                </div>
                <div>
                    <div>Escoja el año</div>
                    <app-datepicker-year (onGetValue)="getYear($event)" [width]="'200'"></app-datepicker-year>
                </div>
    
                <div>
                    <button class="btn-light-blue" [disabled]="!formRevision.valid" (click)="generate()">Generar</button>
                </div>
            </div>

            <div *ngIf="showReport" class="container-reports-revision">
                <app-report-formulation [indicators]="formIndicator" [medition]="formMedition" [metas]="formMeta"></app-report-formulation>

                <app-report-formulation [indicators]="formIndicator" [medition]="formMedition" [metas]="formMeta" [reportsResults]="formRevision"></app-report-formulation>
            </div>

    
        </div>


    </mat-tab>

</mat-tab-group>