<form [formGroup]="formActionRequestShare" class="form-register">

    <div class="inp-label">
        <div class="label">Nro:</div>
        <mat-form-field appearance="outline" style="width: 100px">
            <input matInput formControlName="correlative" type="number">
        </mat-form-field>

        <app-datepicker-year (onGetValue)="getYear($event)" [width]="'100'" [dateYear]="dateYear"
            [changeCount]="changeCountYear"></app-datepicker-year>
    </div>


    <mat-form-field appearance="outline">
        <mat-label>Fuente</mat-label>
        <mat-select formControlName="source">
            <mat-option *ngFor="let font of fonts" [value]="font.name">{{font.name}}</mat-option>
        </mat-select>
    </mat-form-field>

    <mat-form-field appearance="outline">
        <mat-label>Tipo</mat-label>
        <mat-select formControlName="type">
            <mat-option *ngFor="let type of types" [value]="type.name">{{type.name}}</mat-option>
        </mat-select>
    </mat-form-field>

    <mat-form-field appearance="outline">
        <mat-label>Requerimiento ISO 9001</mat-label>
        <input matInput placeholder="Requerimiento" formControlName="requirement">
    </mat-form-field>

    <mat-form-field appearance="outline">
        <mat-label>Estado</mat-label>
        <input matInput placeholder="Estado" formControlName="state">
    </mat-form-field>

    <mat-form-field appearance="outline">
        <mat-label>Unidad Operativa</mat-label>
        <input matInput placeholder="Unidad operativa" formControlName="area">
    </mat-form-field>

    <mat-form-field appearance="outline">
        <mat-label>Fecha de Emisión</mat-label>
        <input matInput [matDatepicker]="pickerEmision" formControlName="dateIssue">
        <mat-datepicker-toggle matSuffix [for]="pickerEmision"></mat-datepicker-toggle>
        <mat-datepicker #pickerEmision></mat-datepicker>
    </mat-form-field>

    <mat-form-field appearance="outline" style="max-width: 100%">
        <mat-label>Descripción de la NC</mat-label>
        <textarea matInput placeholder="Descripción de la NC" formControlName="descriptionNC" rows="5"></textarea>
    </mat-form-field>

    <mat-form-field appearance="outline" style="max-width: 100%">
        <mat-label>Motivo de la no Aprobación</mat-label>
        <textarea matInput placeholder="Motivo de la no Aprobación" formControlName="reasonNonApproval"
            rows="5"></textarea>
    </mat-form-field>

    <mat-form-field appearance="outline">
        <mat-label>OFICIAL ISO 9001</mat-label>
        <input matInput placeholder="OFICIAL ISO 9001" formControlName="coordinator">
    </mat-form-field>

    <mat-form-field appearance="outline">
        <mat-label>Fecha de Envio</mat-label>
        <input matInput [matDatepicker]="pickerShipment" formControlName="dateShipment">
        <mat-datepicker-toggle matSuffix [for]="pickerShipment"></mat-datepicker-toggle>
        <mat-datepicker #pickerShipment></mat-datepicker>
    </mat-form-field>

    <mat-form-field appearance="outline">
        <mat-label>Responsable UO</mat-label>
        <mat-select formControlName="responsibleUO">
            <mat-option *ngFor="let responsible of responsibles" [value]="responsible.name">{{responsible.name}}
            </mat-option>
        </mat-select>
    </mat-form-field>

    <div class="container-btn-save ac-request-actions">
        <button (click)="save()" type="button" [disabled]="!formActionRequestShare.valid">Enviar</button>
        <mat-checkbox formControlName="return" [labelPosition]="'before'" [color]="'primary'">Devolver</mat-checkbox>
    </div>

    <div class="container-btn-save">
        <button (click)="next()" type="button" [disabled]="!formActionRequestShare.valid">Siguiente</button>
    </div>
</form>