<div class="container-responsible-table" style="margin-top: 0;">
    <table mat-table [dataSource]="dataSource" class="table-standart tbedit-doc">
        <ng-container matColumnDef="documentName">
            <th mat-header-cell *matHeaderCellDef> Nombre del documento  </th>
            <td mat-cell *matCellDef="let element;"> 
               {{element.tpDocuInteExte.numeroResolucion}} 
            </td>
        </ng-container>

        <ng-container matColumnDef="numberResolution">
            <th mat-header-cell *matHeaderCellDef> N° de Resolución u otro </th>
            <td mat-cell *matCellDef="let element;"> 
               {{element.tpDocuInteExte.numeroResolucion}} 
            </td>
        </ng-container>

        <ng-container matColumnDef="date">
            <th mat-header-cell *matHeaderCellDef> Fecha </th>
            <td mat-cell *matCellDef="let element;"> 
                {{element.tpDocuInteExte.fechaDocumento | date : 'dd/MM/yyyy'}} 
            </td>
        </ng-container>

        <ng-container matColumnDef="archive">
            <th mat-header-cell *matHeaderCellDef> Ver documento </th>
            <td mat-cell *matCellDef="let element;"> 
                <button mat-icon-button aria-label="boton descargar archivo"
                        (click)="downloadArchive()"
                        *ngIf="element?.archive"
                        style="color: #ec141c;">
                    <mat-icon>picture_as_pdf</mat-icon>
                </button>
            </td>
        </ng-container>

        <ng-container matColumnDef="actions">
            <th mat-header-cell *matHeaderCellDef> Acciones </th>
            <td mat-cell *matCellDef="let element;"> 
                <button mat-icon-button aria-label="boton editar documento" (click)="edit(element)">
                    <img src="assets/images/Edit-dark-blue.png" alt="icono editar">
                </button>
            </td>
        </ng-container>

        <ng-container matColumnDef="noResults">
            <td mat-footer-row *matFooterCellDef [colSpan]="displayedColumns.length">
                No se encontraron resultados.
            </td>
        </ng-container>

        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns;let i = index"></tr>
        <tr mat-footer-row [hidden]="dataSource.data.length > 0 || emptyResult" *matFooterRowDef="['noResults']"></tr>
    </table>
</div>
