<div class="modal-login">
    <div class="layer-1">
            <div class="cont-logo"><img src="assets/images/Sunarp-Logo.png" alt="logo-sunarp"></div>
            <form class="cont-mff" autocomplete="off" [formGroup]="formLogin">
                <input type="text" placeholder="Usuario" formControlName="user">
                <input type="text" placeholder="Clave" type="password" formControlName="password">
                <button class="btn-ingresar" (click)="ingresar()" [disabled]="!formLogin.valid">Ingresar</button>
            </form>
            
            <div class="forgot-password-text">
                <div>¿Olvidaste tu contraseña?</div>
            </div>
    </div>
</div>