<div class="container-title">Gestión de las Fuentes</div>
<div>
    <div class="container-responsible-table" [formGroup]="formSource" #tbsource>
        <table mat-table [dataSource]="dataSource" class="table-standart">
            <ng-container matColumnDef="code">
                <th mat-header-cell *matHeaderCellDef> Código </th>
                <td mat-cell *matCellDef="let element;"> 
                    <div>{{element.code}}</div>
                 </td>
            </ng-container>
    
            <ng-container matColumnDef="description">
                <th mat-header-cell *matHeaderCellDef> Descripción </th>
                <td mat-cell *matCellDef="let element; let i = index"> 
                    <div *ngIf="indexSelectedRow !== i">{{element.description}} </div>
                    <input class="inpt-row" *ngIf="editActive && indexSelectedRow === i" type="text" formControlName="description">
                </td>
            </ng-container>
    
            <ng-container matColumnDef="corrective">
                <th mat-header-cell *matHeaderCellDef style="text-align: center;"> Correctiva </th>
                <td mat-cell *matCellDef="let element; let i = index" style="text-align: center;">
                    <mat-checkbox *ngIf="indexSelectedRow !== i" [checked]="element.corrective" [color]="'primary'" disabled="disabled"></mat-checkbox>
                    <mat-checkbox *ngIf="editActive && indexSelectedRow === i" [checked]="element.corrective" [color]="'primary'" formControlName="corrective"></mat-checkbox>
                </td>
            </ng-container>
    
            <ng-container matColumnDef="upgrade">
                <th mat-header-cell *matHeaderCellDef style="text-align: center;"> Oportunidad de Mejora </th>
                <td mat-cell *matCellDef="let element; let i = index" style="text-align: center;">
                    <mat-checkbox *ngIf="indexSelectedRow !== i" [checked]="element.upgrade" [color]="'primary'" disabled="disabled"></mat-checkbox>
                    <mat-checkbox *ngIf="editActive && indexSelectedRow === i" [checked]="element.upgrade" [color]="'primary'" formControlName="upgrade"></mat-checkbox>
                </td>
            </ng-container>
    
            <ng-container matColumnDef="noResults">
                <td mat-footer-row *matFooterCellDef [colSpan]="displayedColumns.length">
                    No se encontraron resultados.
                </td>
            </ng-container>
    
            <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
            <tr mat-row *matRowDef="let row; columns: displayedColumns;let i = index" 
            (dblclick)="selectedRow(row,i)" [ngClass]="{'active-row-table': indexSelectedRow == i}"></tr>
            <tr mat-footer-row [hidden]="dataSource.data.length > 0 || emptyResult" *matFooterRowDef="['noResults']"></tr>
        </table>
    </div>
    <div class="container-btn-save">
        <button (click)="add()">Añadir</button>
        <button (click)="edit()" [disabled]="!editActive">Modificar</button>
        <button>Grabar</button>
    </div>
</div>

