.header-mut {
    width          : 100%;
    display        : flex;
    justify-content: space-between;

    p {
        font-style : normal;
        font-weight: 700;
        font-size  : 20px;
        cursor     : pointer;
    }
}

.body-mut {
    height    : 45vh;
    overflow-y: scroll;

    .frame {
        width        : 100%;
        height       : 60px;
        background   : #fafafc;
        box-shadow   : 0 0 1px rgb(0 0 0 / 4%), 0 2px 4px rgb(0 0 0 / 16%);
        border-radius: 8px;
        margin       : 20px 0;
        padding-left : 20px;
        padding-right: 20px;
        box-sizing   : border-box;
        display      : flex;
        align-items  : center;
        justify-content: space-between;

        .inpt-frame {
            width      : 320px;
            border     : 0;
            background : #f7f9fa;
            padding    : 4px;
            margin     : 0;
            display    : inline-block;
            text-align : start;
            font-style : normal;
            font-weight: 700;
            font-size  : 14px;
            color      : #888;

            &:focus {
                outline: none;
            }
        }

        .cont-icons {
            display: flex;
            gap    : 10px;

            mat-icon {
                font-size: 30px;
                height   : 30px;
                width    : 30px;
                color    : #888888;
                cursor   : pointer;
            }
        }
    }
}
