<form [formGroup]="formActas" class="form-standart frm-modal-document">
    <mat-form-field appearance="outline">
        <mat-label>Sistema de gestión aplicable</mat-label>
        <input matInput placeholder="Sistema de gestión aplicable" formControlName="managementSystem">
    </mat-form-field>

    <mat-form-field appearance="outline">
        <mat-label>Tipo de reunión</mat-label>
        <input matInput placeholder="Tipo de reunión" formControlName="typeMeeting">
    </mat-form-field>

    <mat-form-field appearance="outline">
        <mat-label>N° de Acta</mat-label>
        <input matInput placeholder="N° de Acta" formControlName="actaNumber">
    </mat-form-field>

    <div class="cont-download" (click)="inptDownload.click()">
        <div class="content">
            <mat-icon>backup</mat-icon>
            <div>Subir Archivo</div>
        </div>
    </div>

    <input type="file" #inptDownload style="display: none" (change)="uploadFile($event)">

</form>

<div class="container-btn-save" mat-dialog-actions>
    <button (click)="save()" type="button" [disabled]="!formActas.valid">Guardar</button>
    <button type="button" mat-dialog-close>Cerrar</button>
</div>
