$primary: #8cc434;
$secondary: #3D4B49;
$accent: #f3ac04;
$warn: #FCAF17;
$success: #00ADAA;
$error: #FF5630;
$white: #ffffff;
$tamarama:#3D4B49;
$black: #00000000;
$blue: #2B3E3C;
$gray:#F7F7F7;
$gray-dark: #808A98;
$gray-secondary: #FAFAFC;
$white-blue: #E0E0E0;