/* You can add global styles to this file, and also import other style files */
@import '_variables';
html,
body {
    height: 100%;
}

body {
    margin     : 0;
    font-family: Roboto, "Helvetica Neue", sans-serif;
}

.container-title {
    font-size       : 20px;
    background-color: $secondary;
    color           : $white;
    width           : 100%;
    padding         : 10px 30px;
    box-sizing      : border-box;
}

.container-btn-right {
    width          : 100%;
    display        : flex;
    justify-content: flex-end;
    margin         : 20px 0;

    button {
        border          : none;
        background-color: $secondary;
        color           : $white;
        padding         : 5px 25px;
        border-radius   : 5px;
        cursor          : pointer;
    }
}

.container-btn-save {
    width          : 100%;
    display        : flex;
    justify-content: center;
    margin         : 20px 0 !important;
    gap            : 10px;

    button {
        border          : none;
        background-color: $secondary;
        color           : $white;
        padding         : 10px 25px;
        border-radius   : 5px;
        cursor          : pointer;
    }

    button:disabled {
        opacity: 0.5;
        cursor: initial;
    }
}

.form-standart {
    margin-top: 25px;
    padding   : 0 15px;
    display   : flex;
    flex-wrap : wrap;
    column-gap: 25px;

    .mat-form-field {
        width    : 100%;
        max-width: 300px;
    }
}

.mat-elevation-z8 {
    width: 100%;
}

.cont-slide-tooggle{
    width: 100%;
    display: flex;
    gap: 25px;
}

.mat-tab-sunarp{
    margin-top: 25px;

    .mat-tab-labels{
        gap: 5px;
    }
    
    .mat-tab-label{
        border: 3px solid $tamarama;
        border-bottom: 0;
        border-radius: 5px 5px 0 0;
        height: 30px;
        opacity: 1;
    }

    .mat-tab-label-active{
        background-color: $tamarama;
        color: $white;
    }

    .mat-tab-disabled {
        opacity: 0.5;
    }

    .mat-ink-bar{
        display: none;
    }

    .mat-tab-header {
        border-bottom: 3px solid $tamarama;
    }

    .mat-tab-body.mat-tab-body-active{
        border: 3px solid $tamarama;
        border-top: 0;
    }
}

.mat-tab-sunarp-edit{
    margin-top: 25px;

    .mat-tab-labels{
        gap: 5px;
    }
    
    .mat-tab-label{
        border: 3px solid $gray;
        border-bottom: 0;
        border-radius: 5px 5px 0 0;
        height: 50px;
        opacity: 1;
        color: $gray-dark;
        background-color: $gray;
    }

    .mat-tab-label-active{
        background-color: $gray;
        color: $success;
    }

    .mat-tab-disabled {
        opacity: 0.5;
    }

    .mat-ink-bar{
       // display: none;
       background-color: $success !important;
       height: 4px;
    }

    .mat-tab-header {
        border-bottom: 3px solid transparent;
    }

    .mat-tab-body.mat-tab-body-active{
        border: 3px solid transparent;
        border-top: 0;
    }
}

.cont-p{
    padding: 15px;
}

.container-responsible-table{
    width: 100%;
    overflow: auto;
    margin-top: 20px;
    
    table{
        width: 100%;
        .mat-row:hover {
            background: whitesmoke;
            cursor: pointer;
        }
    }
}

.table-standart{
    width: 1090px;
    @media (min-width: 1440px) {
        &{
            width: 100%;
        }
    }
}

.active-row-table{
    background: whitesmoke;
}

.inpt-row{ 
    &:focus{
        outline: none;
    }
}

.cont-buscar {
    margin-top   : 25px;
    display      : flex;
    flex-wrap    : wrap;
    align-items  : center;
    border       : 1px solid $tamarama;
    margin-bottom: 20px;
    width        : 100%;
    max-width    : 400px;
    position     : relative;
    padding      : 10px;
    gap          : 25px;

    .lable-cont {
        position        : absolute;
        top             : -10px;
        left            : 5px;
        padding         : 0 15px 0 5px;
        background-color: #fafafa;
        font-weight     : 500;
    }

    .mat-form-field-wrapper {
        padding-bottom: 0;
    }

    .btn-search {
        padding         : 5px 20px;
        background-color: $white;
        border          : 1px solid $tamarama;
        cursor          : pointer;
    }
}