::ng-deep .container-picker {
    display        : flex;
    justify-content: center;

    .contpicker-presentacion {
        border         : 2px solid #44acab;
        width          : 100%;
        max-width      : 350px;
        display        : flex;
        justify-content: center;
        align-items    : center;
        padding        : 10px 0;
        margin-top     : 20px;

        .mat-form-field-wrapper {
            padding: 0;
        }
    }
}