<div class="second-menu" *ngIf="userLoguer">
    <div class="title-second-menu">SISTEMA DE GESTIÓN DE CALIDAD ISO 9001</div>
    <div class="col1">
        <div class="layer1" (click)="setIdOption('1001')">
            <div class="layer2">
                <div class="layer3">
                    <div>Seguimiento de SAC y SOM</div>
                </div>
            </div>
        </div>
        <div class="layer1">
            <div class="layer2">
                <div class="layer3">
                    <div>Indicadores de Calidad</div>
                </div>
            </div>
        </div>
    </div>
    <div class="col2">
        <div class="layer1">
            <div class="layer2">
                <div class="layer3">
                    <div>Gestión de Riesgos</div>
                </div>
            </div>
        </div>
    </div>
</div>